@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Mozilla Text", sans-serif;
}

@layer base {
  * {
    scrollbar-width: thin;
  }

  ::selection {
    background-color: var(--color-neutral-900);
    color: white;
  }

  body {
    background-color: var(--color-neutral-900);
  }

  button,
  label {
    cursor: pointer;
  }
}

@utility transition-default {
  @apply transition-colors duration-300 ease-in;
}
